.functionality {
	width: 100%;
	padding-bottom: 5vh;
}

.functionality-container {
	display: flex;
	flex-direction: column;
	padding: 0 11vw;
	line-height: 1.7;
	gap: 10px;
}

.functionality-container h2 {
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 1px;
}

@media (min-width: 1025px) and (max-width: 2570px) {
	.functionality {
		padding: 5vw 0;
	}

	.functionality-container {
		padding: 0 10vw;
		line-height: 1;
		gap: 10px;
		text-align: center;
	}

	.functionality-container h2 {
		font-size: 2rem;
		padding-bottom: 2vh;
	}
}
