/* Slideshow container */
.gallery {
	width: 40vw;
	margin: 0 auto;
}

/* Hide the images by default */
.mySlides {
	display: none;
}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

@media (min-width: 370px) and (max-width: 400px) {
	.gallery {
		width: 100vw;
		margin: 0 auto;
	}
}
