* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	background-color: transparent;
}

/**************** NAVIGATION MENU *************/

nav {
	position: fixed;
	font-family: 'Bungee Inline', sans-serif;
	width: 100%;
	height: auto;
	background-color: black;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	padding: 1vw 4vw;
}

/***************** LOGO ******************/

.logo {
	width: 250px;
	height: auto;
}

.logo-image {
	width: 150px;
	height: 80px;
}

/******************* NAVIGATION BUTTONS *********/

.nav-links {
	height: auto;
	display: flex;
	align-items: center;
	gap: 100px;
	color: white;
}

.nav-link {
	letter-spacing: 2px;
	padding: 0 1vh;
	height: auto;
	border: none;
	outline: none;
	color: #fff;
	background: rgb(0, 0, 0);
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
}

.nav-link:before {
	content: '';
	background: linear-gradient(
		45deg,
		#ff0000,
		#ff7300,
		#fffb00,
		#48ff00,
		#00ffd5,
		#2c3cc9,
		#521594,
		#ff00c8,
		#d91818
	);
	position: absolute;
	top: 5px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(10px);
	width: calc(100% + 0px);
	height: calc(80% + 0px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
}

.nav-link:active {
	color: rgb(0, 0, 0);
}

.nav-link:on-hover:active:after {
	background: transparent;
}

.nav-link:hover:before {
	opacity: 1;
}

.nav-link:after {
	z-index: -1;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(26, 26, 26, 0.004);
	left: 0;
	top: 0;
	border-radius: 10px;
}

@keyframes glowing {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

/**** MOBILE HEADER DISPLAY NONE *******/

.mobile-header {
	display: none;
}
