.newsletter {
	margin-top: 10vh;
	padding-bottom: 10vh;
}

.fcontainer {
	width: 100%;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
}

.finp {
	margin-bottom: 10px;
	width: 320px;
	height: 35px;
	padding-left: 0.5vw;
	font-size: 15px;
}

.btn-container {
	display: flex;
	width: 100%;
	padding-top: 2vh;
	justify-content: center;
}

.fbtn {
	border-radius: 20px;
	background: transparent;
	color: rgb(180, 180, 180);
	width: 8%;
	height: auto;
	padding: 0.8vh 0;
	font-weight: 500;
	border: 1px solid white;
}

.fbtn:hover {
	background-color: #29926a;
	color: black;
	border: black 1px solid;
	transform: scale(1.05);
	transition: 0.2s ease-out;
}

.fbtn:active {
	background-color: #0c461f;
}

form h2 {
	font-size: 50px;
	font-family: 'Bungee Inline', sans-serif;
	background: -webkit-linear-gradient(#43ecd0, #29926a, #0c461f);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

form p {
	font-size: 20px;
	padding: 3vh 0;
}

@media (min-width: 370px) and (max-width: 400px) {
	.newsletter {
		width: 100%;
		margin-top: 5vh;
	}

	form {
		width: 100%;
	}

	form h2 {
		align-self: flex-start;
		font-size: 32px;
		padding: 0 10vw;
	}

	.fp {
		line-height: 1.7;
		width: 80%;
		font-size: 18px;
	}

	.fbtn {
		width: 40%;
	}

	.btn-container {
		justify-content: flex-start;
		padding-left: 10vw;
	}
}
